{% extends "base.html" %}
{% block title %} 2024 總統大選虛擬投票 {% endblock %}
{% block content%}

<a href="https://line.me/R/ti/p/%40{{ line_bot_id }}" target="_blank">
  <img class="mx-auto d-block" style="max-width: 180px;" src="https://qr-official.line.me/gs/M_{{ line_bot_id }}_BW.png?oat_content=qr">
</a>

<!-- chart of vates -->
<div class="container-xl chart-container shadow p-3 mb-5 bg-body rounded">
  <canvas id="chart_vote"></canvas>
</div>

<!-- chart of candidate -->
<div id='div_candidate' class="container-xl chart-container shadow p-3 mb-5 bg-body rounded" hidden>
  <canvas id="chart_candidate"></canvas>
</div>

<!-- chart of vote sum -->
<div id='div_sum' class="container-xl chart-container shadow p-3 mb-5 bg-body rounded" hidden>
  <canvas id="chart_sum"></canvas>
</div>

<!-- candidate cards -->
<div class="container-fluid">
  <div class="row">
    {% for candidate in candidate_list %}
    <div class="col-lg-4 col-sm-6 px-xl-2 px-sm-1 my-3">
      <div class="card">
        <a href="{{ candidate.facebook }}" target="_blank">
          <img src="https://github.com/luckscylla/linevote2024/blob/main/static/{{ candidate.name }}.jpg?raw=true" class="card-img-top p-3" style="border-radius: 50%">
        </a>
        <div class="card-body">
          <div class="row">
            <div class="col-9">
              <div class="row">
              <div class="col-12"><span class="fs-3 fw-bolder"> {{ candidate.name }} </span><span> {{ candidate.party }}
                </span></div>
                <div class="col-10 fw-bolder"> 副手 : {{ candidate.partner }} </div>
              </div>
            </div>
            <img class="col-3" style="object-fit: contain;" src="https://github.com/luckscylla/linevote2024/blob/main/static/{{ candidate.party }}.png?raw=true">
          </div>
          <hr>
          <p>{{ candidate.profile }}</p>
        </div>
        <ul class="list-group list-group-flush">
          {% for comment in candidate.comments %}
          <li class="list-group-item">{{ comment.0 }}: {{ comment.1 }}</li>
          {% endfor %}
          <!-- <li class="list-group-item">更多 ...</li> -->
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<hr>
<div class="container-fluid">
  <div class="row">
    <div class="col-4">調查單位 : Line 個人用戶</div>
    <div class="col-4">主持人 : Line 個人用戶</div>
    <div class="col-4">辦理時間 : 2023-12-03 之後</div>
    <div class="col-4">抽樣方式 : 隨機邀請 Line 用戶</div>
    <div class="col-4">母體數 : 所有 Line 用戶</div>
    <div class="col-4">樣本數 : 隨時間增加</div>
    <div class="col-4">誤差值 : 無法估算</div>
    <div class="col-4">經費來源 : Line 個人用戶</div>
  </div>
</div>

<script>
  const title = '2024 總統大選虛擬投票'
  const name_set = ['賴清德', '侯友宜', '柯文哲', '尚未決定']
  const color_set = ['rgba(0, 154, 0, 0.6)', 'rgba(0, 0, 170, 0.6)', 'rgba(40, 200, 200, 0.6)', 'rgba(127, 127, 127, 0.6)']
  const datetime = new Date()
  const vote_set = {{ vote_list }}
  const record_list = {{ history_list| safe }}
  const vote_sum = []
  const date_set = []
  const record_set = Array(4).fill().map(() => Array(record_list.length));
  // loop date
  for (let i = 0; i < record_list.length; i++) {
    vote_sum[i] = 0
    date_set.push(record_list[i]['date'].substring(5, 10))
    // loop candidate
    for (let j = 0; j < record_list[i]['vote'].length; j++) {
      vote_sum[i] += record_list[i]['vote'][j]
    }
    for (let j = 0; j < record_list[i]['vote'].length; j++) {
      record_set[j][i] = Math.round(record_list[i]['vote'][j] / vote_sum[i] * 1000 ) / 10
    }
  }

  // show trend chart when data is available
  if (record_list.length > 0) {
    document.getElementById("div_candidate").hidden = false;
    document.getElementById("div_sum").hidden = false;
  }

  
  // bar chart of vote options
  let options = {
    scales: {
      y: {
        grace: '5%',
        beginAtZero: true,
        ticks: { font: { size: 16, weight: 'bold' } }
      },
      x: {
        ticks: { font: { size: 24, weight: 'bold' } }
      }
    },
    plugins: {
      title: {
        display: true,
        text: title,
        font: { size: 40 },
        padding: { top: 10, bottom: 10 }
      },
      subtitle: {
        display: true,
        align: 'end',
        text: '{% now "Y.m.d  H:i:s" %}',
        color: '#9A3B3B',
        font: { size: 20, weight: 'bold' },
      },
      legend: {
        display: false
      },
      datalabels: {
        color: '#666',
        font: { size: 24, weight: 'bold' },
        anchor: 'end',
        align: 'end'
      }
    }
  }

  let datasets = [{
    data: vote_set,
    backgroundColor: color_set,
    borderWidth: 1,
  }]

  let ctx = document.getElementById('chart_vote');
  new Chart(ctx, {
    plugins: [ChartDataLabels],
    type: 'bar',
    data: {
      labels: name_set,
      datasets: datasets
    },
    options: options
  });


  // line chart of candidate
  let options_candidate = {
    scales: {
      y: {
        grace: '5%',
        beginAtZero: true,
        ticks: { font: { size: 16, weight: 'bold' } }
      },
      x: {
        ticks: { font: { size: 16, weight: 'bold' } }
      }
    },
    plugins: {
      title: {
        display: true,
        text: '投票趨勢',
        color: '#9A3B3B',
        font: { size: 32 },
        padding: { top: 20, bottom: 10 }
      },
      legend: {
        labels: { font: { size: 20, weight: 'bold' } }
      },
      datalabels: {
        color: '#666',
        font: { size: 18, weight: 'bold' },
        align: 'end'
      }
    }
  }

  let datasets_candidate = []
  for (let j = 0; j < record_set.length; j++) {
    datasets_candidate.push({
      label: name_set[j],
      data: record_set[j],
      borderColor: color_set[j],
      borderWidth: 3
    })
  }

  let ctx_candidate = document.getElementById('chart_candidate');
  new Chart(ctx_candidate, {
    plugins: [ChartDataLabels],
    type: 'line',
    data: {
      labels: date_set,
      datasets: datasets_candidate
    },
    options: options_candidate
  });


  // line chart of vote sum
  let ctx_sum = document.getElementById('chart_sum');
  new Chart(ctx_sum, {
    plugins: [ChartDataLabels],
    type: 'line',
    data: {
      labels: date_set,
      datasets: [{
        data: vote_sum,
        borderColor: '#AAA',
        borderWidth: 3
      }]
    },
    options: {
      aspectRatio: 3,
      scales: {
        y: {
          grace: '5%',
          ticks: { font: { size: 16, weight: 'bold' } }
        },
        x: {
          ticks: { font: { size: 16, weight: 'bold' } }
        }
      },
      plugins: {
        title: {
          display: true,
          text: "投票人數",
          color: '#9A3B3B',
          font: { size: 32 },
        },
        legend: {
          display: false
        },
        datalabels: {
          color: '#666',
          font: { size: 16, weight: 'bold' },
          align: 'end'
        }
      }
    }
  });

</script>

{% endblock %}